body {
    padding-top: 50px;
}
  
  #wrapper {
      min-height: 100%;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      display: inline-block;
  }
  #main-wrapper {
      height: 100%;
      overflow-y: auto;
      padding: 50px 0 0px 0;
  }
  #main {
      position: relative;
      height: 100%;
      overflow-y: hidden;
      padding: 0 15px;
  }
  #right-sidebar-wrapper {
      height: 100%;
      padding: 50px 0 50px 0; /* pad top and bottom by height of header and footer */
      position: fixed;
      right:0;
  }
  
  
  #sidebar-wrapper {
      height: 100%;
      padding: 50px 0 50px 0; /* pad top and bottom by height of header and footer */
      position: fixed;
      
  }
  #sidebar {
      position: relative;
      height:100%;
      overflow-y:auto;
  }

  .footer {
      background-color:#efefef;
      bottom:0;
      height:50px;
        position:fixed;
      padding-top:10px;
  }